.Logo {
  aspect-ratio: 3/1;
  object-fit: cover;
  width: 300px;
}

.navbar {
  align-items: center;
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-left: 25%;
  padding-top: 10px;
}

.text {
  color: white !important;
  
}

/* "navbar navbar-expand-lg navbar-light d-flex justify-content-around alight-items-center" */